/* 動畫 */
/* @keyframes marioMove {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 21vh);
	}
	100% {
		transform: translate(0, 50vh);
	}
}

.marioMove {
	animation-name: marioMove;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes clockMove {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 21vh);
	}
	100% {
		transform: translate(0, 21vh);
	}
}

.clockMove {
	animation-name: clockMove;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
} */

@keyframes bad_mushroom_move {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(1213px);
	}
	100% {
		transform: translateX(0);
	}
}

.bad_mushroom_move {
	animation-name: bad_mushroom_move;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

@keyframes bad_mushroom_die {
	0% {
		transform: translateY(0);
	}

	20% {
		transform: translateY(0) rotate(180deg);
	}

	40% {
		transform: translateY(10px) rotate(180deg);
	}
	100% {
		transform: translateY(500px) rotate(180deg);
	}
}

.bad_mushroom_die {
	animation-name: bad_mushroom_die;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-timing-function: ease-in-out;
}

@keyframes Xx {
	0% {
		transform: translateY(0);
	}

	20% {
		transform: translateY(20px) rotate(180deg);
	}
	100% {
		transform: translateY(-500px);
	}
}

.X {
	animation-name: Xx;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
}
