/* 動畫 */
@keyframes marioMove {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 22vh);
	}
	100% {
		transform: translate(0, 50vh);
	}
}

@keyframes marioMoveUp {
	0% {
		transform: translate(0, 50vh);
	}
	50% {
		transform: translate(0, 22vh);
	}
	100% {
		transform: translate(0, 0);
	}
}

.marioMove {
	animation-name: marioMove;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.marioMoveUp {
	animation-name: marioMoveUp;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes clockMove {
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(0, 22vh);
	}
	100% {
		transform: translate(0, 20.6vh);
	}
}

@keyframes clockMoveUp {
	0% {
		transform: translate(0, 20.6vh);
	}
	50% {
		transform: translate(0, 22vh);
	}
	100% {
		transform: translate(0, 0);
	}
}

.clockMove {
	animation-name: clockMove;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.clockMoveUp {
	animation-name: clockMoveUp;
	animation-duration: 2.5s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes bad_mushroom_move {
	0% {
		left: 0;
		/* transform: translateX(0); */
	}
	50% {
		left: 1213px;

		/* transform: translateX(1213px); */
	}
	100% {
		left: 0;

		/* transform: translateX(0); */
	}
}

.bad_mushroom_move {
	animation-name: bad_mushroom_move;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

@keyframes bad_mushroom_die {
	0% {
		/* transform: translateY(0) ; */
	}

	40% {
		top: calc(73% - 20px);
		transform: rotate(180deg);
	}

	50% {
		top: calc(73% - 40px);
		transform: rotate(180deg);
	}
	100% {
		top: calc(73% + 500px);
		transform: rotate(180deg);
	}
}

.bad_mushroom_die {
	animation-name: bad_mushroom_die;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-fill-mode: backwards;
	animation-timing-function: ease-in-out;
}

@keyframes board_content_move {
	0% {
		top: -110px;
	}
	15% {
		top: 70px;
	}
	100% {
		top: 70px;
	}
	/* 100% {
		top: -110px;
	} */
}

.board_content_move {
	animation-name: board_content_move;
	animation-duration: 20s;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-timing-function: linear;
}

@keyframes upStone_rotate {
	0% {
		transform: rotate(-3deg) scale(101%);
	}
	50% {
		transform: rotate(deg) scale(101%);
	}
	100% {
		transform: rotate(3deg) scale(101%);
	}
}

.upStone_rotate {
	animation-name: upStone_rotate;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* @keyframes rotate360 {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.rotate360 {
	animation-name: urotate360;
	animation-duration: 1.5s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
} */
