/* 比對用 */

#div01 {
	border: 1px solid red;
	width: 10px;
	position: absolute;
	top: 50%;
	left: calc(50% - 170px);
	transform: translate(-50%, -50%);
}

.table01 {
	box-sizing: border-box;
	list-style: none;
	border: none;
	table-layout: fixed;
	border-collapse: collapse;
	font-size: 0;
}

.tr01 {
	box-sizing: border-box;
	list-style: none;
	border: none;
	font-size: 0;
	border-collapse: collapse;
}

.td01 {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 10px;
	height: 8.4px;
	background: #d8d8d8;
	/* margin-left: 0.2px;
	margin-bottom: 0.2px; */
	border: 0.1px solid rgb(255, 186, 186);
	color: black;
	font-size: 0.001px;
}
